@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}
a {
  text-decoration: none !important;
}
.logo {
  display: flex;
  justify-content: space-evenly;
  padding: 0 3rem;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1rem;
}
.logo h3 {
  font-size: 2rem !important;
  width: fit-content;
  color: #fdfdfd !important;
  font-weight: 200;
  text-transform: uppercase;
}
.nav {
  display: flex;
  justify-content: baseline;
  align-items: center;
}
.nav img {
  margin-right: 1rem;
}
.nav p {
  margin-bottom: 0;
}
.bottom-content {
  position: absolute;
  bottom: 0;
  width: 18vw;
}
body {
  background-color: #fdfdfd;
}
img .side .wrapper {
  display: flex;
  position: relative;
}
.wrapper .sidebar {
  width: 18vw;
  height: 100%;
  background: #161d50;
  padding: 20px 0px;
  position: fixed;
  top: 0;
}
.wrapper .sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a {
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas {
  width: 25px;
}

.wrapper .sidebar ul li:hover {
  background-color: #3c4275;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
}

.wrapper .sidebar .social_media {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a {
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content {
  width: 80vw;
  margin-left: 18vw;
}

.wrapper .main_content .header {
  padding: 20px;
  background: #fff;
  top: 0;
  z-index: 9999;
  position: fixed;
  width: 80vw;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.nav-user {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20rem;
  float: right;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header h4 {
  display: flex;
  align-items: center;
}
.header h4 span {
  color: #594f8d;
  font-weight: 300;
  padding-left: 0.3rem;
}
.context {
  margin-top: 12rem;
}
.cam-content {
  justify-content: space-between;
  display: flex;
  padding: 1rem;
  border: 1px solid #d4d4d4;
}
.s-header {
  display: flex;
}
.s-header h3 {
  padding-left: 1rem;
}
.vi-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.vi {
  padding: 2rem;
  border: 1px solid #a09e9e;
  border-radius: 0.8rem;
}
.vi-statbox {
  justify-content: space-between;
  display: flex;
}
.vi-stat {
  padding: 1rem;
  border-radius: 0.8rem;
  color: #fdfdfd;
  margin: 1rem;
}
#v-one {
  background-color: #22295a;
}
#v-two {
  background-color: #161d50;
}
#v-three {
  background-color: #172271;
}
.graph {
  padding: 1rem;
  margin: 2rem 0;
  border: 1px solid #a09e9e;
  width: fit-content;
  border-radius: 0.8rem;
}
.license {
  padding: 0 6rem;
  margin: 2rem 2rem;
  border: 1px solid #a09e9e;
  width: 100%;
  border-radius: 0.8rem;
}
.vehicle-details {
  display: flex;
  justify-content: space-between;
  padding: 2rem 6rem;
}
